*{
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url("../assets/hero1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}
.hero h1{
    color: white;
    font-size: 6rem;
    position: absolute;
    top: 50%;
   left: 30%;
}